.jumbotron {
    background: #586B90;
    color: #f7f7f7;
}

body {
    background: #e3e3e3;
    position: relative;
}
.modal{
    background: rgba(0,0,0,0.5);
}
.equipment {
    position: relative;
}

.body.male.walk.south {
    height: 64px;
    width: 64px;
    background-image: url("/assets/img/male_body.png");
    background-repeat: no-repeat;
    background-position-y: -128px;
    position: relative;
}

.body.female.walk.south {
    height: 64px;
    width: 64px;
    background-image: url("/assets/img/female_body.png");
    background-repeat: no-repeat;
    background-position-y: -128px;
    position: relative;
}
.armor.female.leatherArmor.walk.south{
    height: 64px;
    width: 64px;
    background-image: url("/assets/img/inventory/female_leather_armor.png");
    background-repeat: no-repeat;
    background-position-y: -128px;
    position: absolute;
    top: 0;
}
.armor.male.leatherArmor.walk.south{
    height: 64px;
    width: 64px;
    background-image: url("/assets/img/inventory/male_leather_armor.png");
    background-repeat: no-repeat;
    background-position-y: -128px;
    position: absolute;
    top: 0;
}
.head.male.leatherArmor.walk.south{
    height: 64px;
    width: 64px;
    background-image: url("/assets/img/inventory/male_leather_cap.png");
    background-repeat: no-repeat;
    background-position-y: -128px;
    position: absolute;
    top: 0
}
.head.female.leatherArmor.walk.south{
    height: 64px;
    width: 64px;
    background-image: url("/assets/img/inventory/female_leather_cap.png");
    background-repeat: no-repeat;
    background-position-y: -128px;
    position: absolute;
    top: 0
}
.body.female.walk.south.big,
.body.male.walk.south.big,
.armor.female.leatherArmor.walk.south.big,
.head.female.leatherArmor.walk.south.big,
.head.male.leatherArmor.walk.south.big,
.armor.male.leatherArmor.walk.south.big
{
    height: 128px;
    width: 128px;
    background-size: 1664px 2688px;
    background-position-y: -256px;

}

.map .base_out_atlas{
    background-image: url("/assets/img/tilesets/base_out_atlas.png");
    background-repeat: no-repeat;
    background-size: 2048px 2048px;
}
.map .terrain_atlas{
    background-image: url("/assets/img/tilesets/terrain_atlas.png");
    background-repeat: no-repeat;
    background-size: 2048px 2048px;
}
.map{
    position: absolute;
}
.map .tile{
    position: absolute;
}
